<h1>Productos</h1>

{{#each products}}
    <div class="product">
        {{!--
          Dentro de este bloque {{#each}}, `this` se refiere al objeto producto actual.
          Podemos acceder directamente a sus propiedades como `this.name`, `this.brand` y `this.price`.

          Los datos para `products` son un array de objetos JavaScript planos (POJOs).
          En el controlador (`controllers/frontend.js`), cualquier objeto de datos complejo (por ejemplo, de una base de datos)
          se convierte a este formato plano antes de ser pasado a la plantilla.
          Esta es una buena práctica de seguridad: asegura que Handlebars renderice solo los datos previstos
          y evita problemas potenciales con el acceso a los prototipos de los objetos, alineándose con la configuración
          segura por defecto de Handlebars. Por lo tanto, `this.name` accede de forma segura a la propiedad 'name' de nuestros datos de producto planos.
        --}}
        <h2>{{this.name}} - {{this.brand}}</h2>
        <p>Precio: ${{this.price}}</p>
        <p>Descripción: {{this.shortDescription}}</p>
        {{#if this.stock}}
            <p>Stock: {{this.stock}}</p>
        {{else}}
            <p style="color: #777;">(Agotado)</p>
        {{/if}}
        {{#if this.freeShipping}}
            <p><strong>Envío gratis</strong></p>
        {{/if}}
        <p><a href="/productos/{{this.id}}">Más información</a></p>
    </div>
{{/each}}
